{:highlights [{:id #uuid "6428208d-bdee-4690-b63f-4379b6710caf",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 28.800003051757812,
                                     :x2 765.5305557250977,
                                     :y2 248.8249969482422,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 0,
                                   :y1 28.800003051757812,
                                   :x2 0,
                                   :y2 50.399993896484375,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 0,
                                   :y1 44.80000305175781,
                                   :x2 0,
                                   :y2 66.39999389648438,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 703.5586318969727,
                                   :y1 185.78749084472656,
                                   :x2 765.5305557250977,
                                   :y2 204.9875030517578,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 132.00000381469727,
                                   :y1 207.71250915527344,
                                   :x2 765.5168495178223,
                                   :y2 226.91249084472656,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 132.00000381469727,
                                   :y1 229.62501525878906,
                                   :x2 324.5656318664551,
                                   :y2 248.8249969482422,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 6},
               :content {:text ". In RL, EC is particularly useful for complex problems with numerous local optima and is suitable for problems without gradient information."},
               :properties {:color "yellow"}}
              {:id #uuid "64282758-a26d-40b4-b5c1-d420da3a1e5a",
               :page 6,
               :position {:bounding {:x1 153.91250228881836,
                                     :y1 682.5500183105469,
                                     :x2 454.5335350036621,
                                     :y2 701.7500305175781,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 153.91250228881836,
                                   :y1 682.5500183105469,
                                   :x2 454.5335350036621,
                                   :y2 701.7500305175781,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 6},
               :content {:text "However, HPO for RL faces several challenges."},
               :properties {:color "yellow"}}
              {:id #uuid "64282a2a-95e7-4006-a450-040de48098f6",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 108.80001068115234,
                                     :x2 604.5620727539062,
                                     :y2 282.6375198364258,
                                     :width 708.9999999999999,
                                     :height 917.5294117647057},
                          :rects ({:x1 0,
                                   :y1 108.80001068115234,
                                   :x2 0,
                                   :y2 130.4000015258789,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 0,
                                   :y1 124.80001068115234,
                                   :x2 0,
                                   :y2 146.4000015258789,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 467.77740478515625,
                                   :y1 232.81250762939453,
                                   :x2 604.5620727539062,
                                   :y2 248.01251983642578,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 250.12500762939453,
                                   :x2 604.5609664916992,
                                   :y2 265.3250198364258,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 267.43750762939453,
                                   :x2 425.17903900146484,
                                   :y2 282.6375198364258,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}),
                          :page 7},
               :content {:text "Nonetheless, the Darwinian evolutionary methods are inefficient since parameters are reinitialized in each generation, causing a loss of knowledge already acquired during previous generations."},
               :properties {:color "yellow"}}
              {:id #uuid "64282b2a-c265-4fa6-8c9e-f0e53152c51e",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 220.79999542236328,
                                     :x2 604.723388671875,
                                     :y2 447.62503814697266,
                                     :width 708.9999999999999,
                                     :height 917.5294117647057},
                          :rects ({:x1 0,
                                   :y1 220.79999542236328,
                                   :x2 0,
                                   :y2 242.4000015258789,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 0,
                                   :y1 236.79999542236328,
                                   :x2 0,
                                   :y2 258.4000015258789,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 0,
                                   :y1 252.79999542236328,
                                   :x2 0,
                                   :y2 274.4000015258789,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 573.1000366210938,
                                   :y1 380.4874954223633,
                                   :x2 604.723388671875,
                                   :y2 395.68753814697266,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 397.8000259399414,
                                   :x2 604.5626754760742,
                                   :y2 413.00003814697266,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 415.1125259399414,
                                   :x2 604.5751266479492,
                                   :y2 430.31253814697266,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 432.4250259399414,
                                   :x2 548.6792526245117,
                                   :y2 447.62503814697266,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}),
                          :page 7},
               :content {:text "In the asynchronous PBT, only one ready individual is compared with a randomly selected individual from the remaining population in each generation, and then the worse individual copies the parameters and hyperparameters of the better individual and adds noise to its hyperparameters."},
               :properties {:color "yellow"}}
              {:id #uuid "64282d29-6f48-4e6a-8e8a-4d9d554ae3e1",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 76.79998779296875,
                                     :x2 604.6184692382812,
                                     :y2 223.23751831054688,
                                     :width 708.9999999999999,
                                     :height 917.5294117647057},
                          :rects ({:x1 0,
                                   :y1 76.79998779296875,
                                   :x2 0,
                                   :y2 98.39999389648438,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 300.7375183105469,
                                   :y1 190.72500610351562,
                                   :x2 604.6184692382812,
                                   :y2 205.92501831054688,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 208.03750610351562,
                                   :x2 594.8413619995117,
                                   :y2 223.23751831054688,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}),
                          :page 8},
               :content {:text "Moreover, [58] has proposed a collection of benchmarks derived from hyperparameter optimization to verify the performance of quality diversity methods. "},
               :properties {:color "yellow"}}
              {:id #uuid "64282dc5-31de-4672-a912-433c0beed327",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 172.80000686645508,
                                     :x2 604.6461791992188,
                                     :y2 388.237491607666,
                                     :width 708.9999999999999,
                                     :height 917.5294117647057},
                          :rects ({:x1 0,
                                   :y1 172.80000686645508,
                                   :x2 0,
                                   :y2 194.39999771118164,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 0,
                                   :y1 188.80000686645508,
                                   :x2 0,
                                   :y2 210.39999771118164,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 0,
                                   :y1 204.79999160766602,
                                   :x2 0,
                                   :y2 226.39999771118164,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 339.2124938964844,
                                   :y1 321.1000099182129,
                                   :x2 604.6461791992188,
                                   :y2 336.299991607666,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 338.4125099182129,
                                   :x2 604.564811706543,
                                   :y2 353.612491607666,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 355.7250099182129,
                                   :x2 604.6041107177734,
                                   :y2 370.924991607666,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 373.0375099182129,
                                   :x2 506.9339828491211,
                                   :y2 388.237491607666,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}),
                          :page 8},
               :content {:text "However, the current literature on HPO still faces several challenges, such as the lack of comprehensive performance metrics and the need for efficient convergence speed. Additionally, selecting hyperparameters from a large number of options is a combinatorial optimization problem that brings new challenges to EC methods."},
               :properties {:color "yellow"}}
              {:id #uuid "64282e1a-af68-4b5c-9a11-1c5238c6732f",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 236.79999160766602,
                                     :x2 604.5797729492188,
                                     :y2 422.862491607666,
                                     :width 708.9999999999999,
                                     :height 917.5294117647057},
                          :rects ({:x1 0,
                                   :y1 236.79999160766602,
                                   :x2 0,
                                   :y2 258.39999771118164,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 378.3243713378906,
                                   :y1 390.3500099182129,
                                   :x2 604.5797729492188,
                                   :y2 405.549991607666,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 407.6625099182129,
                                   :x2 388.4535446166992,
                                   :y2 422.862491607666,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}),
                          :page 8},
               :content {:text "ocus on developing comprehensive evaluation metrics that consider both effectiveness and efficiency."},
               :properties {:color "red"}}
              {:id #uuid "6428343a-7c12-4366-81d8-1cf9bde7fae9",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 396.79999351501465,
                                     :x2 604.5731811523438,
                                     :y2 619.5874996185303,
                                     :width 708.9999999999999,
                                     :height 917.5294117647057},
                          :rects ({:x1 0,
                                   :y1 396.79999351501465,
                                   :x2 0,
                                   :y2 418.3999996185303,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 319.3360595703125,
                                   :y1 587.074987411499,
                                   :x2 604.5731811523438,
                                   :y2 602.2749996185303,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 604.387487411499,
                                   :x2 227.187744140625,
                                   :y2 619.5874996185303,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}),
                          :page 9},
               :content {:text "sampling from diverse search directions and making full use of previous samples."},
               :properties {:color "yellow"}}
              {:id #uuid "6428e2ad-f42f-45be-86a5-305a3078a865",
               :page 14,
               :position {:bounding {:x1 0,
                                     :y1 28.799999237060547,
                                     :x2 696.0010643005371,
                                     :y2 197.62500381469727,
                                     :width 816,
                                     :height 1056},
                          :rects ({:x1 0,
                                   :y1 28.799999237060547,
                                   :x2 0,
                                   :y2 50.39999771118164,
                                   :width 816,
                                   :height 1056}
                                  {:x1 554.7630882263184,
                                   :y1 160.09999465942383,
                                   :x2 696.0010643005371,
                                   :y2 177.70000076293945,
                                   :width 816,
                                   :height 1056}
                                  {:x1 120.00000381469727,
                                   :y1 180.02499771118164,
                                   :x2 452.69507217407227,
                                   :y2 197.62500381469727,
                                   :width 816,
                                   :height 1056}),
                          :page 14},
               :content {:text "such as the state-space crossover [122], the Q-filtered distillation crossover [123],"},
               :properties {:color "yellow"}}
              {:id #uuid "64295a82-8d0c-4490-b708-560bfad077fe",
               :page 18,
               :position {:bounding {:x1 0,
                                     :y1 524.7999997138977,
                                     :x2 696.0118446350098,
                                     :y2 892.8875122070312,
                                     :width 816,
                                     :height 1056},
                          :rects ({:x1 0,
                                   :y1 524.7999997138977,
                                   :x2 0,
                                   :y2 546.4000000953674,
                                   :width 816,
                                   :height 1056}
                                  {:x1 0,
                                   :y1 540.8000001907349,
                                   :x2 0,
                                   :y2 562.4000024795532,
                                   :width 816,
                                   :height 1056}
                                  {:x1 516.2544403076172,
                                   :y1 835.4375,
                                   :x2 696.0008087158203,
                                   :y2 853.0375061035156,
                                   :width 816,
                                   :height 1056}
                                  {:x1 120.00000381469727,
                                   :y1 855.3625183105469,
                                   :x2 696.0118446350098,
                                   :y2 872.9624938964844,
                                   :width 816,
                                   :height 1056}
                                  {:x1 120.00000381469727,
                                   :y1 875.2875061035156,
                                   :x2 586.960391998291,
                                   :y2 892.8875122070312,
                                   :width 816,
                                   :height 1056}),
                          :page 18},
               :content {:text "Empirical studies demonstrated that NS can bring unique advantages over fitness-based EC methods in overriding the deceptiveness of most fitness functions and making the evolutionary process more open-ended."},
               :properties {:color "yellow"}}
              {:id #uuid "64295b8c-33fc-40bb-8743-0291b7b76eb9",
               :page 19,
               :position {:bounding {:x1 0,
                                     :y1 44.80000305175781,
                                     :x2 696.0103797912598,
                                     :y2 237.47500610351562,
                                     :width 816,
                                     :height 1056},
                          :rects ({:x1 0,
                                   :y1 44.80000305175781,
                                   :x2 0,
                                   :y2 66.4000015258789,
                                   :width 816,
                                   :height 1056}
                                  {:x1 0,
                                   :y1 60.80000305175781,
                                   :x2 0,
                                   :y2 82.4000015258789,
                                   :width 816,
                                   :height 1056}
                                  {:x1 512.4768524169922,
                                   :y1 180.02500915527344,
                                   :x2 696.0031280517578,
                                   :y2 197.625,
                                   :width 816,
                                   :height 1056}
                                  {:x1 120.00000381469727,
                                   :y1 199.9499969482422,
                                   :x2 696.0103797912598,
                                   :y2 217.5500030517578,
                                   :width 816,
                                   :height 1056}
                                  {:x1 120.00000381469727,
                                   :y1 219.875,
                                   :x2 595.091739654541,
                                   :y2 237.47500610351562,
                                   :width 816,
                                   :height 1056}),
                          :page 19},
               :content {:text "he first version, NS-ES, replaces the gradients of expected rewards with the gradients of expected novelty, and the other two versions, NSR-ES and NSRA-ES, trade off the gradients of expected rewards and novelty [6]."},
               :properties {:color "yellow"}}
              {:id #uuid "64297a89-7fd7-496f-a3c5-1ee838e5cb7d",
               :page 23,
               :position {:bounding {:x1 0,
                                     :y1 460.79999923706055,
                                     :x2 696.0160675048828,
                                     :y2 794.6000061035156,
                                     :width 816,
                                     :height 1056},
                          :rects ({:x1 0,
                                   :y1 460.79999923706055,
                                   :x2 0,
                                   :y2 482.4000015258789,
                                   :width 816,
                                   :height 1056}
                                  {:x1 0,
                                   :y1 476.8000030517578,
                                   :x2 0,
                                   :y2 498.4000015258789,
                                   :width 816,
                                   :height 1056}
                                  {:x1 502.9257354736328,
                                   :y1 737.1499938964844,
                                   :x2 696.0160675048828,
                                   :y2 754.75,
                                   :width 816,
                                   :height 1056}
                                  {:x1 120.00000381469727,
                                   :y1 757.0750122070312,
                                   :x2 696.005069732666,
                                   :y2 774.6750183105469,
                                   :width 816,
                                   :height 1056}
                                  {:x1 120.00000381469727,
                                   :y1 777,
                                   :x2 219.3378028869629,
                                   :y2 794.6000061035156,
                                   :width 816,
                                   :height 1056}),
                          :page 23},
               :content {:text "Additionally, it may be beneficial to explore hybrid methods that combine EC and gradient-based methods to leverage the strengths of both methods."},
               :properties {:color "yellow"}}
              {:id #uuid "642a629b-3aa9-4362-a008-aa97b94b6afb",
               :page 32,
               :position {:bounding {:x1 0,
                                     :y1 92.79999542236328,
                                     :x2 696.0019683837891,
                                     :y2 285.9124984741211,
                                     :width 816,
                                     :height 1056},
                          :rects ({:x1 0,
                                   :y1 92.79999542236328,
                                   :x2 0,
                                   :y2 114.4000015258789,
                                   :width 816,
                                   :height 1056}
                                  {:x1 193.50892639160156,
                                   :y1 248.38750457763672,
                                   :x2 696.0019683837891,
                                   :y2 265.98751068115234,
                                   :width 816,
                                   :height 1056}
                                  {:x1 120.00000381469727,
                                   :y1 268.31249237060547,
                                   :x2 172.9828872680664,
                                   :y2 285.9124984741211,
                                   :width 816,
                                   :height 1056}),
                          :page 32},
               :content {:text "espite these indirect encodings, the development of efficient encoding schemes is still limited. T"},
               :properties {:color "yellow"}}
              {:id #uuid "642a641c-b5e3-4c36-829d-aee9eac66d30",
               :page 32,
               :position {:bounding {:x1 0,
                                     :y1 364.8000030517578,
                                     :x2 696.0041656494141,
                                     :y2 655.125,
                                     :width 816,
                                     :height 1056},
                          :rects ({:x1 0,
                                   :y1 364.8000030517578,
                                   :x2 0,
                                   :y2 386.40000915527344,
                                   :width 816,
                                   :height 1056}
                                  {:x1 356.7296905517578,
                                   :y1 617.6000061035156,
                                   :x2 696.0041656494141,
                                   :y2 635.2000122070312,
                                   :width 816,
                                   :height 1056}
                                  {:x1 120.00000381469727,
                                   :y1 637.5250244140625,
                                   :x2 603.0106239318848,
                                   :y2 655.125,
                                   :width 816,
                                   :height 1056}),
                          :page 32},
               :content {:text "fficient sampling from the decision space is advantageous for ESs, but it has not been thoroughly investigated in GAs or GP based methods."},
               :properties {:color "red"}}],
 :extra {:page 32}}
