{:highlights [{:id #uuid "6428208d-bdee-4690-b63f-4379b6710caf",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 28.800003051757812,
                                     :x2 765.5305557250977,
                                     :y2 248.8249969482422,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 0,
                                   :y1 28.800003051757812,
                                   :x2 0,
                                   :y2 50.399993896484375,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 0,
                                   :y1 44.80000305175781,
                                   :x2 0,
                                   :y2 66.39999389648438,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 703.5586318969727,
                                   :y1 185.78749084472656,
                                   :x2 765.5305557250977,
                                   :y2 204.9875030517578,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 132.00000381469727,
                                   :y1 207.71250915527344,
                                   :x2 765.5168495178223,
                                   :y2 226.91249084472656,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 132.00000381469727,
                                   :y1 229.62501525878906,
                                   :x2 324.5656318664551,
                                   :y2 248.8249969482422,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 6},
               :content {:text ". In RL, EC is particularly useful for complex problems with numerous local optima and is suitable for problems without gradient information."},
               :properties {:color "yellow"}}
              {:id #uuid "64282758-a26d-40b4-b5c1-d420da3a1e5a",
               :page 6,
               :position {:bounding {:x1 153.91250228881836,
                                     :y1 682.5500183105469,
                                     :x2 454.5335350036621,
                                     :y2 701.7500305175781,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 153.91250228881836,
                                   :y1 682.5500183105469,
                                   :x2 454.5335350036621,
                                   :y2 701.7500305175781,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 6},
               :content {:text "However, HPO for RL faces several challenges."},
               :properties {:color "yellow"}}
              {:id #uuid "64282a2a-95e7-4006-a450-040de48098f6",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 108.80001068115234,
                                     :x2 604.5620727539062,
                                     :y2 282.6375198364258,
                                     :width 708.9999999999999,
                                     :height 917.5294117647057},
                          :rects ({:x1 0,
                                   :y1 108.80001068115234,
                                   :x2 0,
                                   :y2 130.4000015258789,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 0,
                                   :y1 124.80001068115234,
                                   :x2 0,
                                   :y2 146.4000015258789,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 467.77740478515625,
                                   :y1 232.81250762939453,
                                   :x2 604.5620727539062,
                                   :y2 248.01251983642578,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 250.12500762939453,
                                   :x2 604.5609664916992,
                                   :y2 265.3250198364258,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 267.43750762939453,
                                   :x2 425.17903900146484,
                                   :y2 282.6375198364258,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}),
                          :page 7},
               :content {:text "Nonetheless, the Darwinian evolutionary methods are inefficient since parameters are reinitialized in each generation, causing a loss of knowledge already acquired during previous generations."},
               :properties {:color "yellow"}}
              {:id #uuid "64282b2a-c265-4fa6-8c9e-f0e53152c51e",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 220.79999542236328,
                                     :x2 604.723388671875,
                                     :y2 447.62503814697266,
                                     :width 708.9999999999999,
                                     :height 917.5294117647057},
                          :rects ({:x1 0,
                                   :y1 220.79999542236328,
                                   :x2 0,
                                   :y2 242.4000015258789,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 0,
                                   :y1 236.79999542236328,
                                   :x2 0,
                                   :y2 258.4000015258789,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 0,
                                   :y1 252.79999542236328,
                                   :x2 0,
                                   :y2 274.4000015258789,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 573.1000366210938,
                                   :y1 380.4874954223633,
                                   :x2 604.723388671875,
                                   :y2 395.68753814697266,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 397.8000259399414,
                                   :x2 604.5626754760742,
                                   :y2 413.00003814697266,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 415.1125259399414,
                                   :x2 604.5751266479492,
                                   :y2 430.31253814697266,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 432.4250259399414,
                                   :x2 548.6792526245117,
                                   :y2 447.62503814697266,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}),
                          :page 7},
               :content {:text "In the asynchronous PBT, only one ready individual is compared with a randomly selected individual from the remaining population in each generation, and then the worse individual copies the parameters and hyperparameters of the better individual and adds noise to its hyperparameters."},
               :properties {:color "yellow"}}
              {:id #uuid "64282d29-6f48-4e6a-8e8a-4d9d554ae3e1",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 76.79998779296875,
                                     :x2 604.6184692382812,
                                     :y2 223.23751831054688,
                                     :width 708.9999999999999,
                                     :height 917.5294117647057},
                          :rects ({:x1 0,
                                   :y1 76.79998779296875,
                                   :x2 0,
                                   :y2 98.39999389648438,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 300.7375183105469,
                                   :y1 190.72500610351562,
                                   :x2 604.6184692382812,
                                   :y2 205.92501831054688,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}
                                  {:x1 104.26250457763672,
                                   :y1 208.03750610351562,
                                   :x2 594.8413619995117,
                                   :y2 223.23751831054688,
                                   :width 708.9999999999999,
                                   :height 917.5294117647057}),
                          :page 8},
               :content {:text "Moreover, [58] has proposed a collection of benchmarks derived from hyperparameter optimization to verify the performance of quality diversity methods. "},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
