{:highlights [{:id #uuid "6428208d-bdee-4690-b63f-4379b6710caf",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 28.800003051757812,
                                     :x2 765.5305557250977,
                                     :y2 248.8249969482422,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 0,
                                   :y1 28.800003051757812,
                                   :x2 0,
                                   :y2 50.399993896484375,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 0,
                                   :y1 44.80000305175781,
                                   :x2 0,
                                   :y2 66.39999389648438,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 703.5586318969727,
                                   :y1 185.78749084472656,
                                   :x2 765.5305557250977,
                                   :y2 204.9875030517578,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 132.00000381469727,
                                   :y1 207.71250915527344,
                                   :x2 765.5168495178223,
                                   :y2 226.91249084472656,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 132.00000381469727,
                                   :y1 229.62501525878906,
                                   :x2 324.5656318664551,
                                   :y2 248.8249969482422,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 6},
               :content {:text ". In RL, EC is particularly useful for complex problems with numerous local optima and is suitable for problems without gradient information."},
               :properties {:color "yellow"}}
              {:id #uuid "64282758-a26d-40b4-b5c1-d420da3a1e5a",
               :page 6,
               :position {:bounding {:x1 153.91250228881836,
                                     :y1 682.5500183105469,
                                     :x2 454.5335350036621,
                                     :y2 701.7500305175781,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 153.91250228881836,
                                   :y1 682.5500183105469,
                                   :x2 454.5335350036621,
                                   :y2 701.7500305175781,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 6},
               :content {:text "However, HPO for RL faces several challenges."},
               :properties {:color "yellow"}}],
 :extra {:page 7}}
