{:highlights [{:id #uuid "64336c11-39ba-443e-95a7-d341bd1478aa",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 300.8000183105469,
                                     :x2 400.07950496673584,
                                     :y2 489.0500183105469,
                                     :width 816,
                                     :height 1056},
                          :rects ({:x1 0,
                                   :y1 300.8000183105469,
                                   :x2 0,
                                   :y2 322.3999938964844,
                                   :width 816,
                                   :height 1056}
                                  {:x1 0,
                                   :y1 316.8000183105469,
                                   :x2 0,
                                   :y2 338.3999938964844,
                                   :width 816,
                                   :height 1056}
                                  {:x1 0,
                                   :y1 332.8000183105469,
                                   :x2 0,
                                   :y2 354.3999938964844,
                                   :width 816,
                                   :height 1056}
                                  {:x1 222.14616775512695,
                                   :y1 433.20001220703125,
                                   :x2 400.07841873168945,
                                   :y2 449.20001220703125,
                                   :width 816,
                                   :height 1056}
                                  {:x1 65.27500057220459,
                                   :y1 446.4875183105469,
                                   :x2 400.07950496673584,
                                   :y2 462.4875183105469,
                                   :width 816,
                                   :height 1056}
                                  {:x1 65.27500057220459,
                                   :y1 459.7749938964844,
                                   :x2 400.0779790878296,
                                   :y2 475.7749938964844,
                                   :width 816,
                                   :height 1056}
                                  {:x1 65.27500057220459,
                                   :y1 473.0500183105469,
                                   :x2 301.7461767196655,
                                   :y2 489.0500183105469,
                                   :width 816,
                                   :height 1056}),
                          :page 1},
               :content {:text "we evaluate the generated samples and allow the mutation individuals to learn experiences from the output in a knowledge distillation manner, imitating the best output outcome, resulting in better offspring"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
