{:highlights [{:id #uuid "642c2a56-5519-4cc8-bb17-b9130ec7f117",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 204.80000019073486,
                                     :x2 824.3414306640625,
                                     :y2 568.1875,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 0,
                                   :y1 204.80000019073486,
                                   :x2 0,
                                   :y2 226.39999866485596,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 554.6327209472656,
                                   :y1 531.4500122070312,
                                   :x2 824.3414306640625,
                                   :y2 550.6499938964844,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 155.04999923706055,
                                   :y1 548.9875183105469,
                                   :x2 359.00231552124023,
                                   :y2 568.1875,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 1},
               :content {:text "o suffer from training problems such as instability and mode collapse. "},
               :properties {:color "yellow"}}
              {:id #uuid "642c2ab3-dfba-48be-b54d-622064be3c5e",
               :page 1,
               :position {:bounding {:x1 420.7138366699219,
                                     :y1 566.5249938964844,
                                     :x2 827.19287109375,
                                     :y2 585.7250061035156,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 420.7138366699219,
                                   :y1 566.5249938964844,
                                   :x2 827.19287109375,
                                   :y2 585.7250061035156,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 1},
               :content {:text "for stable GAN training and improved generative performance."},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
