{:highlights [{:id #uuid "642c2a56-5519-4cc8-bb17-b9130ec7f117",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 204.80000019073486,
                                     :x2 824.3414306640625,
                                     :y2 568.1875,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 0,
                                   :y1 204.80000019073486,
                                   :x2 0,
                                   :y2 226.39999866485596,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 554.6327209472656,
                                   :y1 531.4500122070312,
                                   :x2 824.3414306640625,
                                   :y2 550.6499938964844,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 155.04999923706055,
                                   :y1 548.9875183105469,
                                   :x2 359.00231552124023,
                                   :y2 568.1875,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 1},
               :content {:text "o suffer from training problems such as instability and mode collapse. "},
               :properties {:color "yellow"}}
              {:id #uuid "642c2ab3-dfba-48be-b54d-622064be3c5e",
               :page 1,
               :position {:bounding {:x1 420.7138366699219,
                                     :y1 566.5249938964844,
                                     :x2 827.19287109375,
                                     :y2 585.7250061035156,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 420.7138366699219,
                                   :y1 566.5249938964844,
                                   :x2 827.19287109375,
                                   :y2 585.7250061035156,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 1},
               :content {:text "for stable GAN training and improved generative performance."},
               :properties {:color "yellow"}}
              {:id #uuid "64326a61-c553-45cc-9282-e7e928d5d886",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 124.79998779296875,
                                     :x2 793.9432029724121,
                                     :y2 300.66249084472656,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 0,
                                   :y1 124.79998779296875,
                                   :x2 0,
                                   :y2 146.40000915527344,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 0,
                                   :y1 140.8000030517578,
                                   :x2 0,
                                   :y2 162.40000915527344,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 105.60000228881836,
                                   :y1 246.3874969482422,
                                   :x2 793.9432029724121,
                                   :y2 265.58750915527344,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 105.60000228881836,
                                   :y1 263.9250030517578,
                                   :x2 792.4853515625,
                                   :y2 283.12498474121094,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 105.60000228881836,
                                   :y1 281.46250915527344,
                                   :x2 507.9899559020996,
                                   :y2 300.66249084472656,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 2},
               :content {:text "For example, although measuring Kullback-Leibler divergence largely eliminates the vanishing gradient issue, it easily results in mode collapse [ 24 , 1]. Likewise, Wasserstein distance greatly improves training stability but can have non-convergent limit cycles near equilibrium [21]."},
               :properties {:color "yellow"}}
              {:id #uuid "64326c55-d184-4ee6-b3d7-825423edd106",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 284.80001068115234,
                                     :x2 793.9411277770996,
                                     :y2 476,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 0,
                                   :y1 284.80001068115234,
                                   :x2 0,
                                   :y2 306.40000915527344,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 0,
                                   :y1 300.8000030517578,
                                   :x2 0,
                                   :y2 322.40000915527344,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 614.12841796875,
                                   :y1 421.7375030517578,
                                   :x2 791.9241333007812,
                                   :y2 440.9375,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 105.60000228881836,
                                   :y1 439.26251220703125,
                                   :x2 793.9411277770996,
                                   :y2 458.4625244140625,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 105.60000228881836,
                                   :y1 456.8000183105469,
                                   :x2 299.26704025268555,
                                   :y2 476,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 2},
               :content {:text "ifferent adversarial objective functions aim to minimize different distances between the generated distribution and the data distribution, leading to different mutations"},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
